.container {
  width: 1024px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.title {
  align-items: center;
  text-align: center;
  width: 100%;
}
.title_add {
  margin-left: 25px;
}
.title_search {
  margin-left: 25px;
}
button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #385898;
  background-color: #e7f3ff;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
button:focus-visible {
  box-shadow: 0 0 0 2px #666;
}
button:hover {
  background-color: #dbe7f2;
}
button:active {
  transform: scale(0.96);
}
button:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.add_contact {
  width: 400px;
}
.contacts {
  width: 400px;
}
.title_contact {
  text-align: center;
}
